*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: xbold;
    src: url(./assets/fonts/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: xxterabold;
    src: url(./assets/fonts/HankenGrotesk-ExtraBold.ttf);
}
@font-face {
    font-family: xmedium;
    src: url(./assets/fonts/HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: xregular;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255); 
}
.container{
    position: absolute;
    width: 650px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    left: 32%;
    right: 32%;
    top: 28%;
    bottom: 25%;
    border-radius: 25px;
    box-shadow: rgb(99, 99, 99) 0px 0px 15px -5px;
}
.result{
    position: absolute;
    width: 320px;
    height: 450px;
    border-radius: 25px;
    background: rgb(46,43,233);
    background: linear-gradient(360deg, rgba(46,43,233,1) 30%, rgba(120,87,255,1) 100%);
}
.counter{
    position: absolute;
    width: 180px;
    height: 180px;
    background: rgb(36,33,202);
    background: linear-gradient(360deg, rgba(36,33,202,1) 0%, rgba(78,33,202,1) 100%);
    border-radius: 50%;
    top: 95px;
    bottom: 25px;
    left: 70px;
    right: 0px;
}
.title{
    font-family: xbold;
    font-size: 25px;
    position: absolute;
    left: 95px;
    right: 38px;
    top: 32px;
    color: hsl(0, 0%, 100%) ;
    opacity: 0.8;
}
.counter-text1{
    font-family: xxterabold;
    font-size: 70px;
    position: absolute;
    left: 122px;
    right: 38px;
    top: 125px;
    color: hsl(0, 0%, 100%);
}
.counter-text2{
    font-family: xxterabold;
    font-size: 18px;
    position: absolute;
    left: 135px;
    right: 46px;
    top: 207px;
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
}
.value{
    font-family: xxterabold;
    font-size: 30px;
    position: absolute;
    left: 120px;
    right: 46px;
    top: 295px;
    color: hsl(0, 0%, 100%) ;
}
.info{
    font-family: xregular;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 340px;
    left: 35px;
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
}
/* right side boxes */
.box-container{
    position: absolute;
    width: 320px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    left: 330px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    width:250px;
    height: 55px;
    background-color: #ffdeda;
    margin-top: 82px;
    border-radius: 10px;
}
.box2{
    width:250px;
    height: 55px;
    background-color: hsl(39, 100%, 95%);
    margin-top: 20px;
    border-radius: 10px;
}
.box3{
    width:250px;
    height: 55px;
    background-color:  hsl(167, 100%, 93%);
    margin-top: 20px;
    border-radius: 10px;
}
.box4{
    width:250px;
    height: 55px;
    background-color: hsl(235, 100%, 94%);
    margin-top: 20px;
    border-radius: 10px;
}
.icon1{
    position: absolute;
    width: 25px;
    height: auto;
    left: 45px;
    top: 100px;
}
.icon2{
    position: absolute;
    width: 25px;
    height: auto;
    left: 45px;
    top: 175px;
}
.icon3{
    position: absolute;
    width: 25px;
    height: auto;
    left: 45px;
    top: 250px;
}
.icon4{
    position: absolute;
    width: 25px;
    height: auto;
    left: 45px;
    top:325px;
}
.text1{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 75px;
    top: 100px;
    color: hsl(0, 100%, 67%);

}
.text2{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 75px;
    top: 175px;
    color: hsl(39, 100%, 56%);
}
.text3{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 75px;
    top: 250px;
    color: hsl(166, 100%, 37%);
}
.text4{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 75px;
    top: 325px;
    color: hsl(234, 85%, 45%);
}
.rating1{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:100px;
    color: hsl(224, 30%, 27%)
}
.rating2{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:175px;
    color: hsl(224, 30%, 27%);
}
.rating3{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:250px;
    color: hsl(224, 30%, 27%);
}
.rating4{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:325px;
    color: hsl(224, 30%, 27%);
}
h1{
    font-family: xbold;
    font-size: 25px;
    position: absolute;
    top: 32px;
    left: 32px;
}
/* button */
.btn-left{
    font-family: xregular;
    font-size: 20px;
    color:hsl(0, 0%, 100%);;
    background-color: hsl(224, 30%, 27%);
    border: 1px solid rgb(36,33,202);
    padding: 10px 80px;
    border-radius: 35px;
    transition : 250ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 370px;
    top: 385px;
    
}
.btn-left:hover{
    transition : 2ms;
    padding: 10px 80px;
    /* transform : translateY(-0px); */
    background: rgb(36,33,202);
    background: linear-gradient(360deg, rgba(36,33,202,1) 0%, rgba(78,33,202,1) 100%);
    border: 1px solid rgb(36,33,202);
    color: white;
}


