*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: xbold;
    src: url(./assets/fonts/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: xxterabold;
    src: url(./assets/fonts/HankenGrotesk-ExtraBold.ttf);
}
@font-face {
    font-family: xmedium;
    src: url(./assets/fonts/HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: xregular;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255); 
}
.container{
    position: absolute;
    width: 650px;
    height: 450px;
    background-color: rgb(219, 178, 116);
    left: 32%;
    right: 32%;
    top: 28%;
    bottom: 25%;
    border-radius: 25px;
}
.result{
    position: absolute;
    background-color: chocolate;
    width: 320px;
    height: 450px;
    border-radius: 25px;
}
.counter{
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: aquamarine;
    border-radius: 50%;
    top: 95px;
    bottom: 25px;
    left: 70px;
    right: 0px;
}
.title{
    font-family: xbold;
    font-size: 25px;
    position: absolute;
    left: 95px;
    right: 38px;
    top: 32px;
}
.counter-text1{
    font-family: xxterabold;
    font-size: 70px;
    position: absolute;
    left: 122px;
    right: 38px;
    top: 125px;
}
.counter-text2{
    font-family: xxterabold;
    font-size: 18px;
    position: absolute;
    left: 135px;
    right: 46px;
    top: 207px;
}
.value{
    font-family: xxterabold;
    font-size: 30px;
    position: absolute;
    left: 120px;
    right: 46px;
    top: 295px;
}
.info{
    font-family: xmedium;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 340px;
    left: 35px;
}
/* right side boxes */

.box-container{
    position: absolute;
    width: 320px;
    height: 450px;
    background-color: rgb(37, 56, 50);
    left: 330px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    width:250px;
    height: 55px;
    background-color: rgb(255, 136, 0);
    margin-top: 82px;

}
.box2{
    width:250px;
    height: 55px;
    background-color: rgb(167, 92, 236);
    margin-top: 20px;
}
.box3{
    width:250px;
    height: 55px;
    background-color: rgb(226, 43, 119);
    margin-top: 20px;
}
.box4{
    width:250px;
    height: 55px;
    background-color: rgb(43, 46, 226);
    margin-top: 20px;
}
.icon1{
    position: absolute;
    width: 25px;
    height: auto;
    left: 40px;
    top: 100px;
}
.icon2{
    position: absolute;
    width: 25px;
    height: auto;
    left: 40px;
    top: 175px;
}
.icon3{
    position: absolute;
    width: 25px;
    height: auto;
    left: 40px;
    top: 250px;
}
.icon4{
    position: absolute;
    width: 25px;
    height: auto;
    left: 40px;
    top:325px;
}
.text1{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 70px;
    top: 100px;
}
.text2{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 70px;
    top: 175px;
}
.text3{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 70px;
    top: 250px;
}
.text4{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    left: 70px;
    top: 325px;
}
.rating1{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:100px
}
.rating2{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:175px

}
.rating3{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:250px;
}
.rating4{
    position: absolute;
    font-family: xbold;
    font-size: 18px;
    right:45px;
    top:325px;
}
h1{
    font-family: xbold;
    font-size: 25px;
    position: absolute;
    top: 32px;
    left: 32px;
}
/* button */
.btn-left{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: 1px solid white ;
    padding: 10px 80px;
    filter: drop-shadow( 0px 3px 5px black);
    border-radius: 35px;
    transition : 250ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 370px;
    top: 375px;
}
.btn-left:hover{
    transition : 2ms;
    padding: 10px 80px;
    /* transform : translateY(-0px); */
    background-color: hsl(300, 69%, 71%);
    color: white;
    border: 2px solid white ;
}